# local package
-e .
-r lint-requirements.txt
awscli

# external requirements
click
coverage
flake8
gensim
git+https://github.com/LIAAD/yake
nltk
numpy
pandas
pre-commit
pymongo
python-dotenv>=0.5.1
scipy
spacy
Sphinx
stanza
transformers

# packages
tweepy
